<% provide(:title, "首页") %>
<% if logged_in?%>
  <h1>公告</h1>
  <% if teacher? %>
  <%= link_to '添加公告', new_announce_path %>
  <% end %>
  <ul class="users">
    <% @announces.each do |announce|%>
    <li>
      <%= link_to announce.title, '#' %>
    </li>
    <% end %>
  </ul>
  <%= paginate @announces %>
<% else %>
<div class="center jumbotron">
  <h1>欢迎来到花椒网安</h1>
  <p>花椒网安--志在为花椒网络安全技术课程服务</p>
  <%= link_to '现在注册', signup_path, class: "button button-primary button-rounded" %>
</div>
<% end %>
