<% provide(:title, '自由讨论') %>
<div class="row">
  <div class="col-md-9">
    <%= render 'panel/item_list', contents: @topics, title: '话题列表' %>
  </div>
  <div class="col-md-3">
    <%= render 'panel/user_info' %>
    <%= render 'panel/new_item', content: 'topic', title: '新增话题'  %>
    <%= render 'panel/study_resources' %>
  </div>
</div>
