<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-4">
    <%= render 'user_info' %>
  </div>
  <div class="col-md-8">
    <ul class="nav nav-tabs">
      <li><%= link_to '发布的话题', get_my_topic_user_path(@user) %></li>
    </ul>
  </div>
</div>
