<div class="panel panel-default">
  <!-- <div class="panel-heading">Panel heading without title</div> -->
  <div class="panel-body text-center">
  <%= link_to new_question_path, class: 'btn btn-success' do%>
    <span class="glyphicon glyphicon-pencil"><strong>新建问题</strong></span>
  <% end %>
</div>
</div>
