<div class="panel panel-default">
  <div class="panel-heading">
    推荐学习网站
  </div>
  <ul class="list-group">
    <li class="list-group-item">
    <a href="http://www.hetianlab.com">合天网安实验室</a>
    </li>
    <li class="list-group-item">
    <a href="https://www.shiyanlou.com">实验楼</a>
    </li>
    <li class="list-group-item">
    <a href="http://www.imooc.com">慕课网</a>
    </li>
  </ul>
</div>
