<% provide(:title, '课件') %>
<div class="row">
  <div class="col-md-9">
    <%= render 'panel/item_list', contents: @coursewares, title: '课件列表' %>
  </div>
  <div class="col-md-3">
    <%= render 'panel/user_info' %>
    <% if teacher_admin? %>
      <%= render 'panel/new_item', content: 'courseware', title: '新增课件'  %>
    <% end %>
    <%= render 'panel/study_resources' %>
  </div>
</div>
