<footer class="footer">
  <small>友情链接:<a href='#'>华东交通大学日新网</a></small>
  <nav>
    <ul>
      <li><%= link_to '帮助', help_path %></li>
      <li><%= link_to '关于本站', about_path %></li>
    </ul>
  </nav>
</footer>
